.calendar {
    width: 1200px;
    background: #fff;
    margin: 0 auto;
    font-family: Microsoft JhengHei;
}

.body {
    border-left: 1px solid #ddd;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.body-list ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-collapse: collapse; 
    border-spacing: 0; 
}

.body-list ul li {
    height: 120px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: 0;
    border-left: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.week ul li {
    height: 40px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pastdays,
.daystocome,
.today {
    width: 100%;
    box-sizing: border-box;
}

.pastdays {
    color: #a8a8a8;
    
}

.daystocome {
    color: #565656;
}

.today {
    color: #ef7e0c;
}

/* .todaybox {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #77B6FE;
    margin: 0 auto;
} */



.event {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.color-mark {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.event-title {
    margin-left: 5px;
}

.day-content {
    height: 90px;
    overflow-y: auto;
}

.calendar-day {
    cursor: pointer;
}

.title {
    margin: 10px 0;
    text-align: center;
}

.btngroup {
    /* btn-group無法使用 */
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

h1, h2 {
    display: inline-block;
}

#calendar-title {
    font-size: calc(3rem + 1.5vw);
    margin-right: 10px;
}

.week ul li {
    font-size: 1.25rem;
    font-weight: 700;
    color: #E4FAFF;
    background-color: #4B99F5;
}

#days li {
    font-size: 1.1rem;
    font-weight: 700;
}

.pastdays:hover,
.daystocome:hover {
    background-color: #E6E6E6;
    
}

.today:hover {
    background-color: #ADD8E6;
}

.day-content .event:hover {
    background-color: #E6E6E6;
}