/* Common styles for both desktop and mobile */
.calendar {
    padding: 20px;
    font-family: Microsoft JhengHei, Arial, sans-serif;
    height: 100lvh;
    background-image:
         url("rilakkuma03.jpg");
      background-size: contain;
}

.body-list ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-collapse: unset;
    border-spacing: 0;
}

.body-list ul li {
    height: auto;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-top: 0;
    border-left: 0;
    border-collapse: unset;
    border-spacing: 0;
}

.week ul li {
    height: 36px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {
    .body-list ul li {
        height: 100px;
        line-height: 20px;
    }

    .week ul li {
        height: 30px;
    }
}


.pastdays {
    color: #a8a8a8; 
}

.daystocome {
    color: #49b203;
    font-weight: 600;
}

.today {
    color: #582e04;
    background-color: #ADD8E6;
    font-weight: 900;
}
/* Additional styles for responsiveness */
.btngroup {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1, h2 {
    display: block;
    text-align: center;
}

#calendarTitle {
    font-size: 2rem;
    margin-bottom: 5px;
}

.week ul li {
    font-size: 1rem;
}

#days li {
    font-size: 0.9rem;
}

/* Add responsive styles for other elements as needed */
/* Responsive styles for modal */
.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

/* Adjust form inputs in the modal for better mobile display */
.modal-body form div {
    margin-bottom: 15px;
}

/* Additional responsive adjustments */

.day-content {
    height: 60px; /* Adjust the height for better mobile display */
    overflow-y: auto;
}
.calendar-day {
    cursor: pointer;
}

/* Adjust title and buttons for better mobile display */
.title {
    margin: 10px 0;
    text-align: center;
}

.btngroup {
    flex-direction: row; /* Align buttons in a row on larger screens */
}

/* Responsive adjustments for fonts */
h1, h2 {
    font-size: 1.5rem;
}

.week ul li {
    font-size: 1rem;
}

#days li {
    font-size: 0.8rem;
}

/* Additional responsive styles as needed */
.pastdays:hover,
.daystocome:hover {
    background-color: #E6E6E6;
    
}

.today:hover {
    background-color: #ADD8E6;
}

.day-content .event:hover {
    background-color: #E6E6E6;
}